*.o
*.dSYM
*.csv
*.out
*.png
*.m
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
local/
results/
weights/
darknet
VOC*
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
